<header class="bg-white h-[10%]">
  <nav class="flex justify-between items-center lg:w-[80%] mx-auto">
    <div>
      <a href="/races">
        <img class="w-28" alt="logo" src="https://efd6aed1.flyingcdn.com/wp-content/uploads/2023/08/World-of-Warcraft-logo-768x432.png">
      </a>
    </div>
    <div class="nav-links duration-500 lg:static absolute bg-white lg:min-h-fit min-h-[600] left-0 top-[-100%] lg:w-auto w-full flex items-center">
      <div class="flex lg:flex-row flex-col lg:items-center  lg:gap-[8vw] gap-4">
        <ul class="flex lg:flex-row flex-col lg:items-center lg:gap-[2vw] gap-4">
          <li class="transform transition duration-500 hover:scale-110">
            <a class="hover:text-gray-500" href="/races">Races</a>
          </li>
          <li class="transform transition duration-500 hover:scale-110">
            <a class="hover:text-gray-500" href="/player_class">Classes</a>
          </li>
          <li class="transform transition duration-500 hover:scale-110">
            <a class="hover:text-gray-500" href="/specialization">Specializations</a>
          </li>
          <li class="transform transition duration-500 hover:scale-110">
            <a class="hover:text-gray-500" href="/hero">Heros</a>
          </li>
          <li class="transform transition duration-500 hover:scale-110">
            <a class="hover:text-gray-500" href="/about">About</a>
          </li>
        </ul>
        <%= form_tag search_path, method: :get, class: "flex h-10 lg:flex-row flex-col gap-1" do %>
          <%= text_field_tag :query, params[:query], class: "w-25 rounded-full" %>
          <%= select_tag :category, options_for_select([['All', ''], ['Races', 'races'], ['Player Classes', 'player_classes'], ['Heroes', 'heroes'], ['Specializations', 'specializations']], selected: params[:category]), class: "rounded-full" %>
          <%= submit_tag "Search", class: "bg-[#a6c1ee] text-white px-3 py-2 rounded-full hover:bg-[#87acec]" %>
        <% end %>
      </div>
    </div>
    <ion-icon name="menu" onclick="onToggleMenu(this)" class="text-3xl cursor-pointer mx-5 lg:hidden"></ion-icon>
  </nav>
</header>

<script>
  function onToggleMenu(e){
    e.name = e.name === 'menu' ? 'close' : 'menu'

    const navLinks = document.querySelector('.nav-links')
    navLinks.classList.toggle('top-[55px]')
  }
</script>
